.card{
    width: 380px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.card-content{
    padding: 0px!important;
}
.content{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-footer-item i.fa {
    margin-right: 10px;
}

.tag{
    margin: 3px;
}
.substance{
    display: block;
}

@media screen and (max-width:420px) {
    .card {
        flex-basis: 100% auto;
    }

}
