@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
    width: 100%;
    height: 100vh;

}
.container{
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 200px;
}

.title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
.title h1{
    color: #40e5e5;
    text-align: center;    
}
