html,body {
    width: 100%;
    height:100%;

}

.navbar-start {
    padding: 8px 16px;
}

.navbar-start input {
    width: 400px;
    border-radius: 25px;
}

.container {
    width: 100%;
    height:100%;

}

.wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card{
    width: 380px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 238px;
}
.card-content{
    padding: 0px!important;
}
.content{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 102px;
}
.card-footer-item i.fa {
    margin-right: 10px;
}
.custom{
    border-radius: 25px!important;
}

.tag{
    margin: 3px;
}
.substance{
    display: block;
    height: 43px;
}
#addBtn:hover {
    background-color: white;
    color: #36afff;
    outline: none;
    border: none;
}
.post{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user{
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.user > i{
    font-size: 40px;
}
.userinfo {
    width:250px;
    height:250px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:420px) {
    .card {
        flex-basis: 100% auto;
    }


}